.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #A353A6;
  padding: 10px 20px;
  font-weight: bold;
  color: black;
}

.header__nav {
  display: flex;
  gap: 20px;
}

.header__link {
  color: black;
  text-decoration: none;
}

.header__link.active {
  text-decoration: underline;
}

.header__right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header__avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}