.sidebar {
    background-color: #b57a8a;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sidebar input {
    padding: 8px;
    border-radius: 6px;
    border: none;
}

.tags {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.tag {
    padding: 8px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    background-color: #fff;
}

.tag.active {
    background-color: #6a2c70;
    color: white;
}

.likesFilter {
    display: flex;
    flex-direction: column;
    gap: 10px;
}